
body
{
    border: 2px solid;
    padding: 10px;
    margin: 10% auto;
    width: 500px;
    font-family: comic sans ms;
}

#square,
#circle {
    width: 100px;
    height: 100px;
    margin: 10px 10px 30px;
    background-color: #2196F3;
}

#circle {
    border-radius: 50%;
}
